{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="mw-500" style="text-align: center;">
        <div>
            <h1>img</h1>
        </div>
        <div>
            <form action = "{% url 'accountapp:login' %}" method = "post">
                {% csrf_token %}
                {% bootstrap_form form %} <!--usercreateform 에 형식이 이미 지정이 되있다 가져와서 쓰기만 하면 된다.. 출력 할때는 토큰 두개 사용용-->
                <div class = "m-5">
                    <input type = "submit" class="btn btn-dark rounded-pill px-5">
                </div>
            </form>
        </div>
    </div>

    </div>

{% endblock %}